/* General Styling of the Pages */
.home-sidebar {
    height: 100%;
    width: 150px;
    background-color: rgb(19, 100, 181);
    position: absolute;
    padding: 1%;
    margin: -0.1% -1%;
    display: flex;
    flex-direction: column;
}

.home-sidebar > * {
    color: white;
    font-weight: 300;
    font-size: larger;
    margin: 3%;
    padding: 3%;
}

.home-sidebar > input {
    color: black;
}


.sidebar {
    height: 75%;
    width: 150px;
    background-color: lightslategrey;
    position: absolute;
    padding: 1%;
    margin: -1%;
    display: flex;
    flex-direction: column;
}

.sidebar > * {
    color: rgb(57, 38, 38);
    font-weight: 300;
    font-size: larger;
    margin: 3%;
    padding: 3%;
}

.mainblog, .main-shop, .main-contact, .home-main-img-text,.home-instructions {
    margin-left: 160px;
    padding: 1% 10px;
    display: flex;
}

/* Home Header */

#home-head {
    background-color: rgb(28, 164, 164);
    display: flex;
    justify-content: center;
    align-items: center;
    margin: -1%;
    padding: 1%;
}
#home-head > a {
    color: white;
    text-decoration: none;
    font-size: 5vh;
}

/* Home Image Section */
.home-main-img-text {
    background-image: url('images/homebg.png');
    background-size: cover;
    background-repeat: no-repeat;
    width: 100%;
    height: 70vh;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: left;
}


.home-main-img-text > * {
    padding-left: 10%;
}

/* Home Instruction Section */
.home-instructions {
    display: flex;
    flex-direction: column;
    align-items: left;
    justify-content: center;
}

.home-instructions > * {
    padding-left: 10%;
}

#ul-select {
    color: black;
}
/* CSS Relating directly to the Blog Section*/

.image-holder, .blog-text {
    padding: 1%;
}

#blogpic {
    background-size: cover;
    background-repeat: no-repeat;
}
.blog-text {
    text-align: center;
     
}
.blog-text > h2 {
    font-size: 3vh;
    color: #bc6c25;
}
.mainblog {
    background-color: #fefae0;
}

.blog-text > pre, p {
    color: #606C38;
    font-size: 1.5em;
}

/* CSS Relating to the shop */

.main-shop {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    background-image: url(images/new-makeup-bg.jpg);
    background-repeat: no-repeat;
    background-size: 100%;
}
.shop-item {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-between;
    height: 400px;
    width: 250px;
    margin: 30px 15px;
    font-size: 10px;
    line-height: 1.5;
    word-spacing: 1.5px;
    padding: 10px; 
    border: 1px black solid;
    background-color: white;
}

.shop-item > button {
    background-color: #ffe100e9;
    padding: 5px;
}

/* CSS Related to Contact Form */

.main-contact {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}
#contact-form > input {
   border-radius: 20px;

}


