.sidebar {
    height: 100%;
    width: 150px;
    background-color: lightslategrey;
    position: absolute;
    padding: 1%;
    margin: -1%;
    display: flex;
    flex-direction: column;
}

.sidebar > * {
    color: wheat;
    font-weight: 300;
    font-size: larger;
    margin: 3%;
    padding: 3%;
}


#blogpic {
    background-size: cover;
    background-repeat: no-repeat;
}
.blog-text {
    text-align: center;
}


.mainblog, .main-shop, .main-contact {
    margin-left: 200px;
    padding: 1% 10px;
    display: flex;
}

.image-holder, .blog-text {
    padding: 1%;
}

.main-shop {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
}
.shop-item {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-between;
    height: 400px;
    width: 250px;
    margin: 30px 15px;
    font-size: 20px;
    line-height: 1.5;
    word-spacing: 1.5px;
    padding: 10px; 
    border: 1px black solid;
}


#contact-form {
    color: blue;
    background-color: blueviolet;
    border: 40px black solid;
}